@import "tailwindcss";

@import "maplibre-gl/dist/maplibre-gl.css";
@import "maplibre-gl-draw/dist/mapbox-gl-draw.css";

/* Hide Google Translate top banner */
.goog-te-banner-frame.skiptranslate {
    display: none !important;
    visibility: hidden !important;
}

/* Prevent page jump caused by the banner */
body {
    top: 0 !important;
}

/* Optional: hide the small Google Translate icon that appears on the bottom */
.goog-logo-link,
.goog-te-gadget {
    display: none !important;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd{
    display: none !important;
}.gm-blue-dot {
  width: 16px;
  height: 16px;
  background: #2563eb;
  border: 3px solid white;
  border-radius: 50%;
  box-shadow: 0 0 12px rgba(37, 99, 235, 0.8);
  position: relative;
}

.gm-blue-dot::after {
  content: "";
  position: absolute;
  inset: -8px;
  border-radius: 50%;
  background: rgba(37, 99, 235, 0.25);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}
